@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Lobster&display=swap');

:root {
    --titleFont: 'Lobster', sans-serif;
    --titleColor: #E23E57;
    --descriptionFont: 'Kanit', sans-serif;
}
.about-section {
    background-color: #F9F7F7;
    padding: 20px 0;
    width: 100%;
}
.whoiam {
    width: 50%;
    position: relative;
    margin: 0 auto;
}
.title {
    font-family: var(--titleFont);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: var(--titleColor);
    position: relative;
}
.title::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: var(--background);
    bottom: -10px;
    left: 25%;
}
.description {
    font-family: var(--descriptionFont);
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    margin-top: 2rem;
    position: relative;
    color: var(--background);
}
.description::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--titleColor);
    bottom: -20px;
    left: 0;
}
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .whoiam {
        width: 80%;
    }
    #home {
        padding: 0;
        margin-top: 5rem;
    }
}